Checks: |
    -*,
    bugprone-*,
    cppcoreguidelines-*,
    clang-analyzer-*,
    google-*,
    modernize-*,
    readability-identifier-naming,
    -cppcoreguidelines-avoid-magic-numbers,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard
#

#
# For any removed checks above, please provide rationale here
#
# -cppcoreguidelines-avoid-magic-numbers: Overly restrictive. Not every number should be a variable.
# -modernize-use-trailing-return-type: Trailing return types are hard to read (obviously subjective)
# -modernize-use-nodiscard: Shouldn't be mandatory to use `nodiscard`

# For reference this is POSIX ERE and negative lookaheads to exclude a file did not seem to work
HeaderFilterRegex: '.*'

CheckOptions:
# Classes, structs, ...
  - key:    readability-identifier-naming.NamespaceCase
    value:  lower_case
  - key:    readability-identifier-naming.ClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.StructCase
    value:  CamelCase
  - key:    readability-identifier-naming.EnumCase
    value:  CamelCase
  - key:    readability-identifier-naming.UnionCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypedefCase
    value:  CamelCase
  - key:    readability-identifier-naming.TemplateParameterCase
    value:  CamelCase

# Variables, member variables, ...
  - key:    readability-identifier-naming.ParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.MemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PublicMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberSuffix
    value:  _
  - key:    readability-identifier-naming.ProtectedMemberSuffix
    value:  _

# Functions, methods, ...
  - key:    readability-identifier-naming.FunctionCase
    value:  CamelCase
  - key:    readability-identifier-naming.MethodCase
    value:  CamelCase

# constants (umbrella rule ?)
  - key:    readability-identifier-naming.ConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.ConstantPrefix
    value:  k
  - key:    readability-identifier-naming.ConstantSuffix
    value:  ''
# static constants in class
  - key:    readability-identifier-naming.ClassConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.ClassConstantPrefix
    value:  k
  - key:    readability-identifier-naming.ClassConstantSuffix
    value:  ''
# non-static constants in class
  - key:    readability-identifier-naming.ConstantMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantMemberPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantMemberSuffix
    value:  _
# constants uses as parameters of function declarations/definitions
  - key:    readability-identifier-naming.ConstantParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantParameterPrefix
    value:  ''
  - key:    readability-identifier-naming.ConstantParameterSuffix
    value:  ''
# static global constants
  - key:    readability-identifier-naming.StaticConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.StaticConstantPrefix
    value:  k
  - key:    readability-identifier-naming.StaticConstantSuffix
    value:  ''
# non-static global constants
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.GlobalConstantPrefix
    value:  k
  - key:    readability-identifier-naming.GlobalConstantSuffix
    value:  ''
# local constants
  - key:    readability-identifier-naming.LocalConstantCase
    value:  lower_case
  - key:    readability-identifier-naming.LocalConstantPrefix
    value:  ''
  - key:    readability-identifier-naming.LocalConstantSuffix
    value:  ''
# enum
  - key:    readability-identifier-naming.EnumConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.EnumConstantPrefix
    value:  ''
  - key:    readability-identifier-naming.EnumConstantSuffix
    value:  ''
